* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}
button {
	cursor: pointer;
}

.parent-container {
	display: flex;
}

.container {
	height: 100vh;
	overflow: auto;
}

.timer {
	flex: 1;
	background-color: #676767;
}

/* scramble on the top */
.scramble-container {
	padding: 10px 0;
	background-color: #333333;
}
.scramble {
	color: #CDCDCD;
	font-size: min(3vw, 30px);
	text-align: center;
	cursor: pointer;
}

/* timer, average, best time */
.timer-container {
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}
.time {
	color: #CDCDCD;
	font-size: min(10vw, 100px);
	text-align: center;
}
.important-stat {
	color: #CDCDCD;
	font-size: min(3vw, 30px);
	text-align: center;
}

.stats {
	position: relative;
	width: 200px;
	background-color: #454545;
}

#upload {
	display: none;
}
.upload-label {
	cursor: pointer;
}
.upload-btn {
	margin: auto;
	margin-top: 20px;
	width: 100px;
	height: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
	background-color: orange;
}
.file-name {
	margin: 5px 0;
	color: #CDCDCD;
	text-align: center;
}

.averages {
	margin: 20px 0;
}
.averages p {
	margin: 5px 0;
	color: #CDCDCD;
	text-align: center;
}
.averages p span {
	color: orange;
}

.solve-times {
	text-align: center;
}
.solve-times p {
	color: #CDCDCD;
}
.each-solve {
	margin: auto;
	height: 30px;
	color: #CDCDCD;
	line-height: 30px;
	vertical-align: middle;
	list-style-type: none;
	cursor: pointer;
	transition: all 0.3s ease;
}
.each-solve:hover {
	background-color: #CDCDCD;
	color: #454545;
}

/* popups */
#timer-information {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #00000088;
	display: block;
}
#timer-information .content-container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	border-top: 5px solid orange;
	transform: translate(-50%, -50%);
	background-color: white;
}
#timer-information .content-container p {
	text-align: center;
	margin: 0 10px;
}
#timer-information .content-container #record-scramble {
	font-size: 20px;
	color: #888888;
}
#timer-information .content-container #record-time {
	margin-top: 10px;
	font-size: 25px;
}
#timer-information .content-container .button-container {
	display: flex;
}
#timer-information .content-container .button-container .timer-info-btn {
	flex: 1;
	margin: 10px 15px;
	width: 100px;
	height: 40px;
	border: none;
	font-size: 15px;
	color: white;
}
#timer-information .content-container .button-container .timer-info-close {
	background-color: orange;
}
#timer-information .content-container .button-container .remove-time {
	background-color: red;
}




