* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}

.parent-container {
	display: flex;
}

.container {
	height: 100vh;
	overflow: auto;
}

.timer {
	flex: 1;
	background-color: #676767;
}

/* scramble on the top */
.scramble-container {
	padding: 10px 0;
	background-color: #333333;
}
.scramble {
	color: #CDCDCD;
	font-size: min(3vw, 30px);
	text-align: center;
	cursor: pointer;
}

/* timer, average, best time */
.timer-container {
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}
.time {
	color: #CDCDCD;
	font-size: min(10vw, 100px);
	text-align: center;
}
.important-stat {
	color: #CDCDCD;
	font-size: min(3vw, 30px);
	text-align: center;
}

.stats {
	position: relative;
	width: 200px;
	background-color: #454545;
}

#upload {
	display: none;
}
.upload-label {
	cursor: pointer;
}
.upload-btn {
	margin: auto;
	margin-top: 20px;
	width: 100px;
	height: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
	background-color: orange;
}
.file-name {
	margin: 5px 0;
	color: #CDCDCD;
	text-align: center;
}

.averages {
	margin: 20px 0;
}
.averages p {
	margin: 5px 0;
	color: #CDCDCD;
	text-align: center;
}
.averages p span {
	color: yellow;
}

.solve-times {
	text-align: center;
}
.solve-times p {
	color: #CDCDCD;
}
.each-solve {
	margin: auto;
	height: 30px;
	color: #CDCDCD;
	line-height: 30px;
	vertical-align: middle;
	list-style-type: none;
	cursor: pointer;
	transition: all 0.3s ease;
}
.each-solve:hover {
	background-color: #CDCDCD;
	color: #454545;
}




